
.bumper {
	text-align: center;
	padding: 128px 16px;
	background-color: #efefef;
  }
  
  .container {
	position: relative;
	width: 100%;
	min-height: 100vh;
  }
  
  .space-holder {
	position: relative;
	width: 100%;
  }
  
  .sticky {
	position: sticky;
	top: 0;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
  }
  
  .horizontal {
	position: absolute;
	height: 100%;
	will-change: transform;
  }
  
  .cards {
	position: relative;
	height: 100%;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	/* align-items: center; */
	width: 100%;
  }
  
  .sample-card {
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #111f30;
	margin-right: 75px;
	flex-shrink: 0;
  }
  .percent {
	position: relative;
	background: $lightgrey;
	border-radius: 30px;
	overflow: hidden;
	height: 300px;
	width: 50px;
	position: fixed;
	@extend %align-both;
  }
  
  .fill {
	 width: 100%;
	 height: 100%;
	 background: $orange;
	 position: absolute;
	 bottom: 0;
	 transition: $ease;
  }
  
  h1 {
	position: absolute;
	font-size: 18px;
	text-align: center;
	line-height: 1;
	@extend %align-both;
  }
  
  .progress {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: white;
	z-index: 1;
  
	.bar {
	  height: 100%;
	  width: 10%;
	  background: $orange;
	  transition: $ease;
	}
  }
  